@import "variables";

.about-benefits {
  padding-bottom: 150px;

  .about-benefits-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .about-benefits-icon {
    min-width: 40px;
    min-height: 40px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $button-color;
    i {
      color: #fff;
    }
  }
  &__section-header {
    margin-left: 0;
    text-align: left;
    font-size: 18px;
  }
  &__section-paragraph {
    text-align: justify;
    margin-bottom: 30px;
  }
}