@import "variables";

.header-mark {
  display: block;
  width: 67px;
  height: 21px;
  position: absolute;
  bottom: -4px;
  left: 2px;
  z-index: -1;
  background-color: $button-color;
}

.section-header {
  position: relative;
  z-index: 1;
  max-width: 270px;
  margin: 0 auto;
  text-align: center;
  color: $primary-color;
  font: 700 30px $primary-font;
  text-transform: uppercase;
  white-space: nowrap;
}

.section-paragraph {
  max-width: 765px;
  margin: 30px auto 100px;
  text-align: center;
  color: $primary-color;
  font: 400 14px $second-font;
}

.section-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 165px;
  width: 100%;
  min-height: 50px;
  background-color: $button-color;
  color: #fff;
  font: 700 14px $primary-font;
  text-transform: uppercase;
  white-space: nowrap;

  &:hover {
    background-color: $primary-color;
    text-decoration: none;
    color: #fff;
  }
}

@import "header";
@import "top-section";
@import "about";
@import "portfolio";
@import "contact-us";
@import "footer";
@import "About-top-section";
@import "About-info";
@import "About-benefits";
@import "About-team";
@import "About-clients";
@import "Blog";